/** Import css fonts */
@import url('https://fonts.cdnfonts.com/css/horror-whisper');
@import url('https://fonts.cdnfonts.com/css/nightmare-pills');

/* Global body */
html, body {
    height: 100vh;
    margin: 0;
    overflow: hidden;

    background-color: black;
    color: white;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Game canvas */
canvas {
    width: 99vw;
    height: 99vh;
    border: 5px solid;
    display: block;
}

.hidden {
    display: none;
}

/* Game text display area */
.game-text-display {
    width: 1200px;
    height: 96px;
    margin-top: 24px;

    text-align: center;
    display: none;
}

.game-text-display p {
    margin: 0;
    min-height: 1.4em;
    line-height: 1.4;
}
